<div class="account-container">
	<style>	
	.main {	
	     margin-top:3em !important;
	  }
	</style>
	<div class="content clearfix">
		
		<form novalidate name="loginForm" autocomplete="off">
		
			<h1>Member Login</h1>		
		
				
				<p>Please provide your details</p>
				<span class="validation-invalid" ng-show="error" ng-cloak> {{error}}</span>	
	
				<div class="input-group input-group-lg">				  
				<span class="input-group-addon clearfix" id="sizing-addon1" ><span class="glyphicon glyphicon-user"></span></span>				  
				  <input type="text" name="email" class="form-control" placeholder="Email/Mobile" aria-describedby="sizing-addon1" ng-model="login.email" 	validator="required" required-error-message="Email is required" email-error-message="Invalid email address" valid-method="watch">
				</div>
				<br>
				<div class="input-group input-group-lg">
				  <span class="input-group-addon clearfix" id="sizing-addon1" ><span class="glyphicon glyphicon-log-in"></span></span>				  			  
				  <input type="password" name="password" class="form-control"  aria-describedby="sizing-addon1" type="password" name="password" value="" placeholder="Password" class="login password-field" ng-model="login.password" validator="required" required-error-message="Password is required" valid-method="watch">
				</div>
				<br>
				
			
			<div class="login-actions">
				
				<span class="login-checkbox">
					<input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4" />
					<label class="choice" for="Field">Keep me signed in</label>
				</span>
									
				<button class="button btn btn-success btn-large" validation-submit="loginForm" ng-click="doLogin()">Sign In</button>
				
			</div> <!-- .actions -->
			
			
			
		</form>
		
	</div> <!-- /content -->
	
</div> <!-- /account-container -->



<div class="login-extra">
	<a href="javascript:;">Reset Password</a>
</div> <!-- /login-extra -->