
	
	 <div class="col-lg-12 col-sm-12 col-xs-12 nopadding">	
                                                    
                                                    
                                                    <div class="center-menu">
                                                        <ul class="nav nav-pills nav-stacked">
                                                        	  <li>
                                                            		<a ui-sref="dailyservice">
                                                                  
                                                                     <img src="img/action-big-icon.png" title="Store &amp; Beacon Management" />
                                                                   
                                                                   <!--<div class="col-lg-12 col-sm-12 col-xs-12">	     
                                                                     	<h4>Store &amp; Beacon Management</h4>
                                                                   </div>-->
                                                                 </a>
                                                            </li>
                                                            
                                                            <li>
                                                            		<a ui-sref="dailyservice">

                                                                     <img src="img/action-big-icon.png" title="Action Management" />
                                                                  
                                                                   <!--<div class="col-lg-12 col-sm-12 col-xs-12">	     
                                                                     	<h4>Action Management</h4>
                                                                   </div>-->
                                                                 </a>
                                                            </li>
                                                            
                                                            <li>
                                                            		<a ui-sref="dailyservice">
                                                                    <img src="img/action-big-icon.png" title="Report" />
                                                                   
                                                                   <!--<div class="col-lg-12 col-sm-12 col-xs-12">	     
                                                                    	 	<h4>Report</h4>
                                                                   </div>-->
                                                                 </a>
                                                            </li>
                                                            
                                                            <li>
                                                            		<a ui-sref="dailyservice">
                                                                    <img src="img/action-big-icon.png" title="App Management" />
                                                                   
                                                                   <!--<div class="col-lg-12 col-sm-12 col-xs-12">	     
                                                                     	<h4>App Management</h4>
                                                                   </div>-->
                                                                 </a>
                                                            </li>
                                                            
                                                            <li>
                                                            		<a ui-sref="dailyservice">
                                                                   	
                                                                     <img src="img/action-big-icon.png" title="Admin User Management" />
                                                                   
                                                                   <!--<div class="col-lg-12 col-sm-12 col-xs-12">	     
                                                                     	<h4>Admin User Management</h4>
                                                                   </div>-->
                                                                 </a>
                                                            </li>
                                                            
                                                            <li>
                                                            		<a ui-sref="dailyservice">
                                                                  
                                                                     <img src="img/action-big-icon.png" title="More" />
                                                                  
                                                                   <!--<div class="col-lg-12 col-sm-12 col-xs-12">	     
                                                                     	<h4>More</h4>
                                                                   </div>-->
                                                                 </a>
                                                            </li>
                                                            
                                                            
                                                        </ul>
                                                    <div class="clearfix"></div>
                                                    </div>
                                                    
                                            