<div class="row">
<div class="span12">
  <div class="widget widget-nopad">
	<div class="widget-header"> <i class="icon-list-alt"></i>
	  <h3> Add Daily Expenses & Collection</h3> 
	</div>
	<!-- /widget-header -->
	<div class="widget-content">
	  <div class="widget big-stats-container">
		<div class="widget-content" style="padding:10px;" >
		
		 <form id="edit-profile" novalidate name="addDailyserviceForm" autocomplete="off" class="form-horizontal">
			<div class="form-group has-success">
				<label class="col-lg-2 col-sm-12 col-xs-12 control-label" >Date</label>
				<div class="col-lg-3 col-sm-12 col-xs-10">					
					<div class="datepicker" date-set-hidden="true" datepicker-append-to="body"
				 date-format="dd-MM-yyyy"
				  date-typer="true"   
				  date-set="{{currentdate | currentdate:'dd-MM-yyyy'}}"  
				  button-prev='<i class="glyphicon glyphicon-chevron-left"></i>'
				  button-next='<i class="glyphicon glyphicon-chevron-right"></i>'>
				  <input ng-model="c" ng-readonly="true" type="text" class="form-control"/>				  
				</div>
   
			    </div>
			</div>
		 
			<div class="form-group has-success">
				<label class="col-lg-2 col-sm-12 col-xs-12 control-label" for="inputSuccess">Collection Type</label>
				<div class="col-lg-5 col-sm-12 col-xs-10">					
					<select name="type" ng-model="dailyservice.type" 
			  validator="required"  required-error-message="Collection Type is required"  valid-method="watch" class="form-control"  title="Choose 2-4 colors" convert-to-number>
						<option value="">Select Collection Type</option>
						<option value="1"  >Daily Collection</option>
						<option value="2" >Daily Expenses</option>		
					</select>
					
				</div>
				
			
			</div>
			
		
			
			<div class="form-group has-success">
				<label class="col-lg-2 col-sm-12 col-xs-12 control-label" for="inputWarning">Amount</label>
				<div class="col-lg-5 col-sm-12 col-xs-10">
					<input type="number" class="form-control" max="15000" step="100" ng-init="dailyservice.price=1500" name="price" placeholder="Amount" ng-model="dailyservice.price" 
			  validator="required" required-error-message="Amount is required"  />
				</div>
			</div>
			<div class="form-group has-success">
				<label class="col-lg-2 col-sm-12 col-xs-12 control-label" for="inputError">Description</label>
				<div class="col-lg-5 col-sm-12 col-xs-10">					
					<textarea class="form-control" name="itemDesc" placeholder="Description" ng-model="dailyservice.itemDesc" />
				</div>
			</div>			
		
			
	
			<div class="form-group">
					<div class="col-xs-offset-0 col-xs-12 col-lg-offset-2 col-lg-10">
							<button type="button" class="btn btn-success" validation-submit="addDailyserviceForm" ng-click="addDailyservice()">Save</button> 
							<button ng-click="cancel()" class="btn">Cancel</button>
					</div>		
			</div>
		</form>
		  
			


        </script>	
											
		  </div>
		
		</div>
		<!-- /widget-content --> 
		
	  </div>
	  <div class="clearfix"> </div>
	</div>
  </div>
   <!-- /widget -->
 </div>  

</div>
<!-- /row --> 